section.section#about.d-bg.pb-0
  .container
    .col-lg-10.mx-auto
      h2= 'О нас'
      p.text-justify= 'Мы занимаемся пошивом одежды малыми и средними партиями с 2009 года. Наше производство, в первую очередь, настроено на сотрудничество с дизайнерами, которым необходим качественный пошив коллекций одежды. Швейный цех компании находится в Москве, что дает возможность своевременного контроля и внесения корректировок относительно пошива Ваших изделий. Многолетний опыт, мастерство работников и наличие внушительного количества оборудования дают нам возможность справляться с задачами любой сложности.'

  .row.properties(data-paroller-factor="0.5" data-paroller-factor-sm="0.2" data-paroller-factor-xs="0.1")
    .property.col-6.col-md-3.my-4.my-md-0.text-center
      include /img/svg/quality.svg
      span.text-uppercase= 'Гарантия качества'

    .property.col-6.col-md-3.my-4.my-md-0.text-center
      include /img/svg/time.svg
      span.text-uppercase= 'Соблюдение сроков'
    .property.col-6.col-md-3.my-4.my-md-0.text-center
      include /img/svg/equipment.svg
      span.text-uppercase= 'Современное оборудование'

    .property.col-6.col-md-3.my-4.my-md-0.text-center
      include /img/svg/location.svg
      span.text-uppercase= 'Удобное расположение'
